:root {
  font-family: "Trebuchet MS", sans-serif;
  --background-col: #6db734;
  --accent-col: #7f7846;
  --map-background-col: #191a1a;
  --map-accent-col: #7f7f7f;
  --map-accent-col-dark: #343332;
  --dark-red: #811331;
}

body {
  background-color: var(--map-background-col);
}

.map-container {
  position: absolute;
}

.nav-sidebar {
  position: absolute;
}

ul {
  list-style: none;
}

.menu-option,
.menu-toggle {
  color: var(--map-background-col);
  margin: 0.5rem 0em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: (2em, 3em, 4em);
  align-items: center;
  text-decoration: none;
  transition: 200ms ease-in-out;
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  opacity: 0.9;
}

.menu-option svg {
  min-width: 2.5em;
  max-height: 3em;
  margin: 0.5em 0.5em;
}

.nav-sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--map-accent-col);
  width: 3.5em;
  height: 100vh;
  z-index: 4;
  border-radius: 0em 1rem 0em 0em;
  opacity: 0.5;
  transition: color 250ms ease-in-out;
}

li.menu-option-container svg.menu-toggle {
  margin: 2em 0.125em;
}
span.menu-option-label {
  display: none;
}

.nav-sidebar-list:hover {
  width: 16em;
  opacity: 0.85;
  transition: width 150ms ease-in-out;
}

.nav-sidebar-list:hover span.menu-option-label {
  display: block;
  transition-delay: 100ms;
  width: 100%;
  text-align: center;
  margin: 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-option:hover {
  background-color: var(--map-background-col);
  color: var(--map-accent-col);
  width: 100%;
}

.menu-option-container:last-child {
  margin-top: auto;
}
button.fly-to-btn {
  position: absolute;
  top: 3em;
  right: 0;
  margin-left: 1em;
}

button:first-of-type {
  margin-top: 2em;
}

button:last-of-type {
  margin-top: 4em;
}

/* Home page css */

ul.general-stats-tab {
  position: absolute;
  margin: 0;
  padding: 0em 1em;
  height: 100vh;
  width: 17em;
  right: 0;
  z-index: 4;
  color: var(--map-accent-col-dark);
  background-color: var(--map-accent-col);
  opacity: 0.85;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  border-radius: 1rem 0rem 0rem 0rem;
}

ul.general-stats-tab > svg {
  cursor: pointer;
  align-self: flex-end;
  color: var(--dark-red);
}

ul.general-stats-tab > li,
svg {
  margin: 1rem 0.25rem;
}
